---
import Button from "@components/Button.astro";
import Layout from "@layouts/Layout.astro";
import Logo from "@assets/icons/logo.svg";
---

<Layout>
  <div class="flex items-center flex-col gap-6">
    <a href="/" class="hover:scale-125 transition-transform"><Logo /></a>
    <h1 class="font-bold">PÁGINA NO ENCONTRADA</h1>
    <a href="/">
      <Button variant="secondary" class="font-bold px-10 text-lg">
        VOLVER A INICIO
      </Button>
    </a>
  </div>
</Layout>
