---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

type Variant = "primary" | "secondary" | "invert";

interface Props extends HTMLAttributes<"button"> {
  variant?: Variant;
}

const { variant = "primary", class: className, ...attrs } = Astro.props;
---

<div class="relative">
  <button
    class={twMerge(
      "relative after:content-[''] after:absolute after:left-0 after:h-10 after:w-full after:-z-10 after:rounded-xl active:top-[8px] top-0 transition-all after:transition-all active:after:bottom-0 after:-bottom-[8px] p-3 rounded-2xl text-background font-bold cursor-pointer",
      variant === "primary" &&
        "after:bg-accent-1/60 hover:after:bg-accent-1-light/50 bg-accent-1 hover:bg-accent-1-light",
      variant === "secondary" &&
        "after:bg-accent-2/50 hover:after:bg-accent-2-light/45 bg-accent-2 hover:bg-accent-2-light",
      variant === "invert" &&
        "after:bg-muted-foreground/40 hover:after:bg-foreground/30 bg-muted-foreground hover:bg-foreground",
      className
    )}
    {...attrs}
  >
    <slot />
  </button>
</div>
