---
import Button from "./Button.astro";
---

<div
  id="end-menu"
  class="hidden fixed top-0 left-0 h-full w-full bg-black/30 flex-col items-stretch"
>
  <div class="flex-1"></div>
  <div
    class="h-64 px-4 bg-background flex flex-col items-center justify-center gap-8"
  >
    <!-- JS generated content -->
    <div id="end-menu-content" class="flex flex-col items-center gap-2"></div>

    <div class="flex gap-4">
      <Button class="z-10 px-6" id="end-quit" variant="invert">
        <h3>SALIR</h3>
      </Button>
      <Button class="z-10 px-6" id="end-next" variant="secondary">
        <h3>SIGUENTE RONDA</h3>
      </Button>
    </div>
  </div>
  <div class="flex-1"></div>
</div>
