---
import IconO from "@assets/icons/icon-o.svg";
import IconX from "@assets/icons/icon-x.svg";
import Logo from "@assets/icons/logo.svg";
import Button from "@components/Button.astro";
---

<div
  id="menu-scene"
  class="w-full p-4 max-w-[460px] flex flex-col items-center gap-10"
>
  <Logo />

  <div
    class="flex flex-col items-center gap-6 w-full bg-muted-background p-6 rounded-2xl card-shadow after:bg-black/25"
  >
    <h4 class="font-bold">ELEJIR ICONO DEL JUGADOR 1</h4>
    <div class="w-full bg-background flex gap-2 rounded-xl p-2">
      <button
        value="x"
        class="selector aria-pressed:hover:bg-muted-foreground hover:bg-muted-foreground/10 flex-1 grid place-items-center py-2 fill-muted-foreground cursor-pointer rounded-lg aria-pressed:bg-muted-foreground aria-pressed:fill-muted-background"
      >
        <IconX class="w-8 h-8" />
      </button>
      <button
        value="o"
        aria-pressed="true"
        class="selector aria-pressed:hover:bg-muted-foreground hover:bg-muted-foreground/10 hover:[$aria-pressed='false'] flex-1 grid place-items-center py-2 fill-muted-foreground cursor-pointer rounded-lg aria-pressed:bg-muted-foreground aria-pressed:fill-muted-background"
      >
        <IconO class="w-8 h-8" />
      </button>
    </div>
    <p>AVISO: X VA PRIMERO</p>
  </div>

  <div class="flex flex-col gap-6 w-full">
    <a href="/cpu" class="new-game-btn">
      <Button id="new-game-cpu-btn" class="w-full">
        <h3>NUEVA PARTIDA (VS CPU)</h3>
      </Button>
    </a>
    <a href="/vs" class="new-game-btn">
      <Button id="new-game-player-btn" variant="secondary" class="w-full">
        <h3>NUEVA PARTIDA (VS JUGADOR)</h3>
      </Button>
    </a>
  </div>
</div>

<style>
  .card-shadow {
    position: relative;
  }

  .card-shadow::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 40px;
    border-radius: 1rem;
    width: 100%;
    z-index: -1;
  }
</style>
